<h2>Todo Task</h2>
<form [formGroup]="form" (submit)="processForm()">

  <!--
  <ul>
    <li> Form valid: {{ form.valid }} </li>
    <li> Form invalid: {{ form.invalid }} </li>
    <li> taskName valid: {{ form.get('taskName')?.valid }} </li>
    <li> taskName invalid: {{ form.get('taskName')?.invalid }} </li>
  </ul>
  -->

  <table>
    <tr>
      <td>Task Name:</td>
      <td>
        <input type="text" [formControlName]="taskNameCtrlName"
          [ngClass]="{ 'valid': isCtrlValid('taskName'), 'invalid': isCtrlInvalid('taskName') }">
      </td>
    </tr>
    <tr>
      <td>Priority:</td>
      <td>
        <select formControlName="priority">
          <option value="0">Low</option>
          <option value="1">Mid</option>
          <option value="2">High</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Due Date:</td>
      <td>
        <input type="date" formControlName="dueDate"
          [ngClass]="{ 'valid': isCtrlValid('dueDate'), 'invalid': isCtrlInvalid('dueDate') }">
      </td>
    </tr>
    <tr>
      <td>Urgency:</td>
      <td>
        <input type="range" min="1" max="5" (change)="updateUrgency($event)" formControlName="urgency"> ({{ urgency }})
      </td>
    </tr>
    <tr>
      <td>Comments:</td>
      <td>
        <textarea rows="4" cols="30" formControlName="comments"></textarea>
      </td>
    </tr>
    <tr>
      <td>Procrastinate:</td>
      <td>
        <input type="checkbox" formControlName="procrastinate">
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit" [disabled]="invalid()">Add</button>
        <button type="button" (click)="addCollaborator()">Add Collaborators</button>
      </td>
    </tr>
  </table>

  @if (collaborators.controls.length > 0) {
    <h3>Collaborators</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody formArrayName="collaborators">
        @for (col of collaborators.controls; let idx = $index; track col) {
          <!--
            set strictTemplates to false
            <tr [formGroup]="col">
          -->
          <tr [formGroupName]="idx">
            <td> {{ idx + 1 }}</td>
            <td>
              <input type="text" formControlName="name">
            </td>
            <td>
              <input type="email" formControlName="email">
            </td>
            <td>
              <button type="button" (click)="removeCollaborator(idx)">X</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <h3>Get help!</h3>
  }

</form>
